* {
    box-sizing: border-box;
    color: #777777;
}

header {
    position: fixed;
    float: left;
    padding-left: 100px;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-color: #cccccc;
}

#logo {
    position: fixed;
    left: 300px;
    top: 20px;
    padding: 10px;
    color: #ffffff;
    background-color: #4aaaa5      
}

.topnav  {
    position: fixed;
    right: 300px;
    top: 20px;
    padding-top: 20px;    
}

a {
    text-decoration: none;
}

#wrapper {
    position: relative;
    top: 100px;
    background-color: lavender;
}

#content {
    position: relative;
    background-color: #ffffff;
    width: 960px;
    margin-left: 40px;
    box-align: center; 
}
